{{> menuAdmin _id='dashboard'}}
Hello {{admin.firstName}} - Test

<section class="ui center aligned basic segment">
  <button class="circular ui icon blue button item" data-modal="addUser">
    <i class="plus icon"></i>
  </button>
  <a href="/deleteAllUserAndTweets">
    <button class="circular ui icon red button">
      <i class="trash icon"></i>
    </button>
  </a>
</section>

{{> listUsers}}