{{> menuUser _id="dashboard"}}

<section class="ui segment">
  <p>Hello {{user.firstName}} </p>
  <p>Time line of user tweets</p>
</section>

<div class="ui center aligned basic segment">
  <button class="circular ui icon blue button item" data-modal="addTweet">
    <i class="plus icon"></i>
  </button>
</div>

{{> listTweets}}

{{> addTweet}}